@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#DashSidebar {
  .bg-gray-50 {
    background-color: white;
  }
  .DashHeading {
    svg {
      color: white;
      background-color: black;
      padding: 5px;
      border-radius: 6px;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

.avatarsMap {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    /* width: 60px;
    height: 60px; */
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  li:nth-child(n + 2) {
    margin-left: -1.25rem;
  }

  ul:hover li:nth-child(n + 2) {
    margin-left: -0.5rem;
  }
}

.tableSection tbody tr td,
th {
  border-left: 1px solid rgb(220, 220, 220);
  /* border-right: 1px solid rgb(231, 231, 231); */
}

.tableSection tbody tr td:nth-child(1) {
  border-left: none !important;
  border-right: none;
}

table.tableSection {
  thead {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  tr:last-child {
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 9999;
  }
}

*::-webkit-scrollbar {
  width: 8px; 
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); 
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211); 
  border-radius: 20px; 
}

div[data-testid="flowbite-dropdown"] {
  z-index: 99999999;
}
